<!DOCTYPE HTML>

<html>
	<head>
		
		<title>Teju</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Hello, Welcome to my Portfolio</h1>
						<p>I'm here to showcase my projects and my technical capabilities</p>
						
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Portfolio</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Here we Go</a></li>
							
						</ul>
						<ul class="icons">
						
							<li><a href="https://www.linkedin.com/in/tejaswini-raghupathi-886808118/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/TejuRaghupathi" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									
									<h2><a href="#">I'm Tejaswini Raghupathi
									</a></h2>
									<p>I'm 24 years old, Based in Australia, passionate about learning the ever changing technologies.</p>
								</header>
								<a href="#" class="image main" style="height: 800px; width: 800px;   display: block;
  margin-left: auto;
  margin-right: auto;"><img src="Teju.jpeg" alt="" /></a>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										
										<h2><a href="#">Project 1</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
									<p>This project is about : </p>
									<ul class="actions special">
										<li><a href="project1" class="button">check it out</a></li>
									</ul>
								</article>
								<article>
									<header>
										
										<h2><a href="#">Project 2
										</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
									<p>This project is about : </p>
									<ul class="actions special">
										<li><a href="project2" class="button">Check it out</a></li>
									</ul>
								</article>
								
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>15,Railway Parade, Wollongong<br />
								NSW,2500</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">+61 478967376</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">tej2802@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									
									<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

			

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>